
/* Table of content
----------------------------
1. GENERAL STYLE
    1.1 General
    1.2 Navbar
    1.3 Page
    1.3 Button
    1.5 Form

*/

/******************
    GENERAL STYLE
*******************/

/* General */

:root{
    --fs-xl: clamp(3rem, 7vw, 5rem);
    --col-light:#fff;
    --col-shadow: #00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.top-nav{
    /* background-color: var(--col-light); */
    box-shadow: 0.5px 0.5px 10px 0.5px var(--col-shadow);
    width: 100%;
    min-height: 10vh;
}

/* Page */

.page{
    min-height: 90vh;
}

.content{
    min-height: 90vh;
}

.aside{
    min-height: 90vh;
    color: #fff;
}
